* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

section {
  background-color: rgb(244, 238, 238);
  border-radius: 30px;
  width: 550px;
  height: 100vh;
  margin: auto;
  box-shadow: 10px 10px 5px 0px rgba(74, 69, 69, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(74, 69, 69, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(74, 69, 69, 0.75);
}

i {
  color: rgb(247, 195, 25);
  font-size: 28px;
  cursor: pointer;
}

button {
  outline: none;
  border: none;
}

/* Nav Bar */
header {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  color: black;
  padding: 30px;
}

/* Add Text */
.addText {
  display: flex;
  flex-direction: column;
}

.addText__input {
  width: 100%;
  height: 40px;
  background-color: rgb(228, 220, 220);
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: large;
  color: rgb(136, 133, 133);
  padding-left: 15px;
}

.addText__btn {
  margin-top: 10px;
  text-align: center;
}

.addText > div,
.fixedList > div,
.addedList > div {
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Fixed List, Added List */
.fixedList__top {
  display: flex;
  justify-content: space-between;
}

.fixedList__top button {
  transition: transform 100ms ease-in-out;
}

.fixedList__top button.clicked {
  transform: rotate(-90deg);
}

article {
  margin: 30px;
  background-color: rgb(244, 238, 238);
}

ul {
  list-style: none;
  padding-left: 0;
}

.fixedList ul {
  height: 20vh;
  overflow-y: scroll;
}

.fixedList ul::-webkit-scrollbar {
  display: none;
}

.fixedList ul.hidden {
  display: none;
}

.fixedList li,
.addedList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 30px;
  border-bottom: solid rgb(211, 207, 207) 1px;
  border-radius: 5px;
  font-size: medium;
  font-weight: 400;
}

.fixedList .listAndDate .date,
.addedList .listAndDate .date {
  color: rgb(136, 133, 133);
  font-weight: 400;
}

.fa-trash-alt {
  visibility: hidden;
  font-size: 20px;
  font-weight: 100;
  color: rgb(136, 133, 133);
}

.fixedList ul li .fa-trash-alt:hover {
  color: rgb(248, 57, 43);
  transform: scale(1.1);
}

.addedList ul li .fa-trash-alt:hover {
  color: rgb(247, 195, 25);
  transform: scale(1.1);
}

.addedList ul {
  height: 40vh;
  overflow-y: scroll;
}

.addedList ul::-webkit-scrollbar {
  display: none;
}

footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 550px;
  background-color: rgb(249, 246, 246);
  height: 8.5vh;
  margin: 0;
  border-radius: 0 0 30px 30px;
}

.footer__text {
  margin: auto;
}
